/** Eksamen 2. semester MDU: Fryden kaffebar**/
/** Style css for Frydens Kaffebars hjemmeside**/

/* Adobe fonts */
/* font-family: costa, sans-serif; font-style: normal; font-weight: 400; */
@import url("https://use.typekit.net/buo6iyo.css");
/* font-family: costa, sans-serif; font-style: normal; font-weight: 700; */
@import url("https://use.typekit.net/buo6iyo.css");
/* font-family: costa, sans-serif; font-style: normal; font-weight: 300; */
@import url("https://use.typekit.net/buo6iyo.css");
/* font-family: Ballare, sans-serif; font-style: normal; font-weight: 400; */
@import url("https://use.typekit.net/buo6iyo.css");



/* Variabler gemmes*/
:root {

/* farver */
  --yellow: #fff3ce;
  --aqua: #C9DEDD;
  --green: #3F5A40;
  --blue: #1D2472;
  --red: #CD4F42;
  --pink: #FFE5E3;


/* fonte */
  --overskrift: 'costa', sans-serif; /* overskrifter */
  --brødtekst: 'costa', sans-serif; /* brødtekst */
  --ballare: 'ballare', sans-serif /* */
}

/* Mobil */
/* baggrund */
body {
  background-color: var(--pink);
}


/* typografi */
h1{
  font-family: var(--overskrift);
  font-weight: 700;
  text-align: center;
  padding-top: 15%;
}

h2{
  font-family: var(--overskrift);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding-top: 10%;
}

p{
  font-family: var(--brødtekst);
  font-weight: 400;
  text-align: center;
  margin-left: 12%;
  margin-right:12%;
  line-height: 1.8;
  margin-top: 5%;
}

.footerp{
  font-family: var(--brødtekst);
  font-weight: 400;
  text-align: center;
  margin-left: 12%;
  margin-right:12%;
  line-height: 0.7;
  margin-top: 5%;
}


/* Generel opsætning af siderne */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  padding-bottom: 10%;
}



/* Navigationsbar mobil */

header{
  background-color: var(--aqua);
}

.nav-menu1{
  display: none;
}

.nav-link{
  color: var(--green);
  text-decoration: none;
}

.nav-item{
  list-style-type: none;
  margin: 16px 0;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: rgba(201, 222, 221, 0.9);
  width: 100%;
  text-align: center;
  transition: 0.3s;
  font-family: var(--overskrift);
  font-size: 22px;
}

.nav-logo img{
  width: 50px;
}

.nav-logo2 img{
  width: 20%;
  margin-top: 7%;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--blue);
}

.nav-menu.active{
  left: 0;
  background-color: rgba(201, 222, 221, 0.9);
}

.hamburger.active .bar:nth-child(2){
  opacity: 0;
}

.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}



/*********** indhold til forsiden - Mobil ************/
/* Banner 1: top menupunkter - Mobil*/
.forsidemenu {
  font-weight: lighter;
  padding: 10px;
}

#topbillede {
  display: none;
}

#slangetop {
  display: none;
}

#forsidetop a {
  text-decoration: none;
  color: var(--green);
}

#forsidetop a:hover {
  color: black;
}

#forsidetop hr {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logotilforsidetop {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10%;
}

/* Banner 2: Om Fryden - Mobil*/
#intro {
  background-color: var(--green);
  display: flex;
  flex-direction: column;
}

.column-1 img{
  margin-top: 10%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.column-1 h1{
color:var(--aqua);
}

.column-2 h1{
  display: none;
}

.column-2 p{
  color: var(--yellow);
}

/* banner 3: Kaffe af god kvalitet. Mobil*/
#kaffe-kvalitet{
  background-color: var(--yellow);
}

#kaffe-kvalitet h4{
  color: var(--aqua);
  font-size: 120px;
  font-family: signo, sans-serif;
}

#kaffe-kvalitet h1{
  color: var(--red);
}

#tobilleder-flex img{
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  display: block;
}

#tekst-flex h1{
  display: none;
}

#tekst-flex p{
  color: var(--blue);
}



/* Banner 4: Togo kop mobil.*/
#togokopbanner {
  background-color: var(--pink);
}

#togokopbanner p, h1 {
  color: var(--blue);
}

#togokopbanner video {
 margin-top: 10%;
margin-bottom: 10%;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 300px;
}

#togokopbanner a {
  font-weight: bold;
  text-decoration: none;
  color: var(--blue);
}


#togokopbanner a:hover {
  color: var(--aqua);
}

.togokopcom {
  display: none;
}



/* Banner 5: Instagram konkurrence */
#banner5{
  background-color: var(--green);
}

#banner5 h1 {
  color: var(--pink);
}

#banner5 p {
  color: var(--pink);
}

#banner5 h2 {
  color: var(--aqua);
  font-size: 15px;
  line-height: 1.8;
}

.banner5mobil img{
  width: 100%;
}

.banner5laptop img{
  display: none;
}

.kravinstagram{
  text-align: left;
  font-family: var(--brødtekst);
  font-size: 15px;
  color: var(--pink);
  margin-left: 15%;
  line-height: 1.8;
}

.banner5krav{
  margin-top: 5%;
  margin-bottom: -2%;
}




/* banner 6: nyeste posts - mobil */

#nyesteposts {
  background-color: var(--yellow);
}
#nyesteposts h1, p {
  color: var(--blue);
}

#nyesteposts a {
  text-decoration: none;
  font-weight: bold;
  color: var(--blue);
}

#nyesteposts a:hover {
  color: var(--aqua);
}

.instabillede img {
  max-width: 150px;
  padding: 7%;
  margin-left: 25%;
}

.nyesteinsta {
  display: flex;
}

.instacommi {
  display: none;
}




/*********** indhold til om fryden underside: mobil************/
/* Underside - om fryden. banner 1: mød cecilie. Mobil */

#mødcecilie h1 {
  font-family: var(--ballare);
  color: var(--blue);
  font-size: 30px;
}

#mødcecilie p {
  color: var(--red);
}

.hjertebarn {
  font-weight: bold;
}

#mødcecilie img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  margin-top: 5%;
}

#mødceciliecomputer {
  display:none;
}


/* Underside - om fryden. banner 2: kort og åbningstider. Mobil */

#kortogtidercomputer {
  display: none;
}

#kortogtider {
  background-color: var(--green);

}

#kortogtider h1 {
  color: var(--aqua);
}

#kortogtider p {
  color: var(--pink);
}

iframe {
  min-width: 250px;
  min-height: 270px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}

/* Underside - om fryden. Banner 3: Lokale råvarer */
#omfryden h4{
  color: var(--aqua);
  font-size: 100px;
  font-family: signo, sans serif;
}
.overskrift-flex {
  margin-top: -15%;
}

.overskrift-flex h1{
color: var(--red);
}

.overskrift-flex img{
  margin-top: 10%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.teksten-flex h1{
  display: none;
}

.teksten-flex p{
  color: var(--blue);
}


/*********** indhold til produkt underside. Mobil ************/
#produktside {
  background-color: var(--pink);
}

#produktside h1, #produktside h2 {
  color: var(--red);
}

.produktoverskrift {
  font-size: 20px;
  text-align: center;
}


#produktsidecomputer {
  display: none;
}


/* Slideshow til mobilversion */

* {box-sizing:border-box}

.slideshow-container {
  max-width: 250px;
  position: relative;
  margin: auto;
}

/* skjuler billederne, til de vises*/
.mySlides1, .mySlides2, .mySlides3 {
  display: none;
}

/* Knapper*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--blue);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position af "next button"*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* baggrund på knapper med opacitet*/
.prev:hover, .next:hover {
  background-color: rgba(29, 36, 114, 0.3);
}


/* runde prikker*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fade animation*/
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





/*********** indhold til mobil kaffekort underside ************/

/** kærlighed for kaffe boks **/
.mobilkaerlighedforkaffe{
  background-color: var(--pink);
}

#kaerlighedforkaffe h1{
  color: var(--red);
  font-size: 30px;
  font-family: var(--ballare);
}

.mobilkaerlighedforkaffe p{
  color: var(--blue);
  font-family: var(--brødtekst);
}

#b {
  font-weight: bold;
  color: var(--red);
}

.mobilkaerlighedforkaffe img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  margin-top: 5%;
}

.webkaerlighedforkaffe{
  display: none;
}

/** Gul boks **/
#kaffekortgul{
  background-color: var(--yellow);
}

#kaffekortgul h1{
  color: var(--red);
  font-size: 25px;
  font-family: var(--overskrift);
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.mobilinfographicgul img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  margin-top: 5%;
}

.webinfographicgul{
  display: none;
}




/** Grøn boks **/
#kaffekortgron{
  background-color: var(--green);
}

.mobilinfographicgron img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  margin-top: 5%;
}

.webinfographicgron{
  display: none;
}

/** Aqua boks**/
#kaffekortaqua{
  background-color: var(--aqua);
}

#kaffekortaqua b{
  font-family: var(--brødtekst);
  color: var(--red);
  text-align: center;
}

#kaffekortaqua h1{
  font-family:  var(--ballare);
  color: var(--red);
  font-size: 30px;
}

#kaffekortaqua p{
  font-family:  var(--brødtekst);
  color: var(--blue);
}

#kaffekortaqua img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  margin-top: 5%;
}

#webinfographicaqua{
  display: none;
}

/** Gul boks Nostalgia **/
#kaffekortnostalgia{
  background-color: var(--yellow);
  text-align: center;
}

#rod{
  font-family: var(--brødtekst);
  color: var(--red);
}

#kaffekortnostalgia h1{
  font-family:  var(--overskrift);
  color: var(--blue);
  font-size: 30px;
}

#kaffekortnostalgia p{
  font-family: var(--brødtekst);
  color: var(--green);
}

#kaffekortnostalgia img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  margin-top: 5%;
}

#kaffekortnostalgia a{
  font-family: var(--brødtekst);
  color: var(--red);
  font-weight: bold;
}

b{
  font-family: var(--brødtekst);
  font-weight: bold;
  color: var(--red);
}


#webmoodcoffee{
  display: none;
}




/* 404 side */

#mobil404 {
  display: block;
}

#commi404 {
  display: none;
}



/*** Footer MOBIL ***/

/* Lokal cirkel, der bevæger sig */

#rundcirkel {
  background-color: var(--aqua);
}

#rundcirkel img{
  padding-top: 2%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
}

.rotate {
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


footer{
  background-color: var(--aqua);
  color: var(--blue);
}


.flex-container-footer{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.footerp{
  font-size: 15px;
  padding
}

.flex-some {
  padding-left: 23%;
  padding-right: 23%;
}

.flex-some img{
  height: 50px;
  margin-top: 20px;
  margin-left: 7%;
}


/* copyright nederst på siden */
.footer-banner {
  background-color: var(--blue);
  height: 45px;
}

.bannerp{
  padding-top: 8px;
  color: var(--aqua);
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

p {
 text-align: center;
 text-align: left;
}

body {
  background-color: var(--aqua);
}


/* Navigationsbar mellem skærm */

      /*Burgermenu skjules */
        .hamburger{
          display: none;
          }
      /*Navigationsbaren styles */
        header{
          background-color: var(--pink);
          }

        .nav-link1{
          color: var(--blue);
          text-decoration: none;
          }

        .nav-item1{
          list-style-type: none;
          display:inline-block;
          margin: 0 8% 0 8%;
          }

        .nav-logo img{
          width: 50px;
          }

          .nav-menu1{
            display: block;
            width: 100%;
            text-align: center;
            transition: 0.3s;
            font-family: var(--overskrift);
            font-size: 15px;
          }



  /* Forside. Banner 1: ipad.*/
    #topbillede {
      display: block;
      margin-left: 11.5%;
    }

    #topbillede img {
      max-height: 458px;
    }

    #forsidetop {
    display: flex;
    padding-bottom: 0%;
    }

    .forsidemenu {
      font-weight: lighter;
      padding: 10px;
      font-size: 30px;
      margin-left: 30%;
    }

    #forsidetop hr {
      max-width: 50%;
      margin-left: 40%;
    }

    #forsidetop h1 {
        text-align: center;
    }

    .topbilleder {
      position: relative;
      top: 0;
      left: 0;
      margin-top: 10%;
      margin-left: 10%;
    }

    #logotilforsidetop {
      position: block;
      margin-left: 35%;
    }

    #slangetop {
      display: none;
    }

    /* Forside. Banner 2: Om Fryden - Michella. iPad*/
    #intro {
    display: flex;
    flex-direction: row;
    }

    .column-1 {
    width: 50%;
    text-align: right;
    }

    .column-1 img{
    margin-top: 10%;
    margin-left: 20%;
    height: 400px;
    }

    .column-1 h1{
    display: none;

    }

    .column-2 {
    width: 50%;
    }

    .column-2 h1{
    color: var(--aqua);
    display: block;
    text-align: left;
    margin-right: 20%;
    margin-left: 12%
    }

    /* Forside. banner 3: Kaffe af god kvalitet - Michella. iPad */
    #kaffe-kvalitet h1{
      display: none;
      margin-top: -5%;
    }

    #kaffe-kvalitet h4{
      color: var(--aqua);
      font-size: 260px;
      font-family: signo, sans-serif;
    }

    #tobilleder-flex {
      display: flex;
      flex-direction: row;
      margin-top: -27%;
    }

    #tobilleder-flex img{
      height: 300px;
    }

    #kaffebillede1 {
      padding-left: 20%;
    }

    #kaffebillede2 {
      padding-right: 20%;
    }

    #tekst-flex h1{
      display: block;
      text-align: center;
    margin-top: -10%;
    }

    #tekst-flex p{
      text-align: center;
      margin-top: 8px;
    }

    .to-billeder {
      display: flex;
      flex-direction: row;
      width: 50%;
      padding: 5px;
    }

    /* Forside. Annica. Banner 4: to go kop: iPad */

    #togokopbanner {
      display: flex;
      padding-top: 8%;
      padding-bottom: 8%;
    }

    #togokopbanner h1{
      margin-left: -12%;
    }

    #togokopbanner video{
      max-width: 270px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40%;
    }

    .togokopmobil {
      display: none;
    }

    .togokopcom {
      display: block;
      margin-right: 10%;
      padding-top: 15px;
    }

    .togokop {
      margin-left: 7%;
    }


      /* Banner 5: Instagram konkurrence */

      #banner5 h1 {
        color: var(--pink);
        text-align: left;
        margin-left: 18%;
      }

      #banner5 p {
        color: var(--pink);
        font-size: 15px;
        text-align: left;
        margin-left: 18%;
      }

      #banner5 h2 {
        color: var(--aqua);
        font-size: 15px;
      }

      .banner5mobil img{
        display: none;
      }

      .kravinstagram{
        text-align: left;
        font-family: var(--brødtekst);
        font-size: 15px;
        color: var(--pink);
        margin-left: 20%;
        line-height: 1.8;
      }

      .banner5krav{
        margin-top: -8%;
        margin-bottom: -5%;
      }

      #banner5koptop{
        margin-top: -45%;
        margin-bottom: 10%;
        line-height: 1.8;
        text-align: left;
        margin-left: 18%;
      }

      .banner5laptop img{
        display: block;
        width: 100%;
        margin-top: -18%;
      }



    /* Forside. banner 7: nyeste posts. Ipad*/

    .nyesteinsta {
      display: none;
    }

    .instacommi {
      display: flex;
      margin-left: 8%;
      margin-right: 10%;
      margin-top: 20px;
    }

    .instacommi img {
      max-width: 150px;
    }


  /*********** indhold til Om Fryden underside: ipad.************/

  /* Underside: Om Fryden. Banner 1 - iPad. */

  #mødcecilie {
    display: none;
  }

  #mødceciliecomputer {
    display: flex;
    margin-right: 5%;
  }

  #mødceciliecomputer h1 {
    font-family: var(--ballare);
    color: var(--red);
  }

  #mødceciliecomputer p {
    color: var(--blue);
  }

  #mødceciliecomputer img {
    height: 350px;
    margin-top: 40%;
  }

  /* Underside: Om Fryden. Banner 2 - ipad */

  #kortogtider {
    display: none;
  }

  #kortogtidercomputer {
    display: flex;
    background-color: var(--green);
    padding-left: 5%;
  }

  #kortogtidercomputer h1 {
    color: var(--aqua);
    margin-top: 5%;
    text-align: left;
    margin-left: 12%;
  }

  #kortogtidercomputer p {
    color: var(--pink);
  }

  iframe {
    min-width: 400px;
    min-height: 400px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .kortogtider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  /* underside om fryden. Banner 3:Lokalt. ipad. */
  #omfryden {
  background-color: var(--yellow);
  display: flex;
  flex-direction: row;
  }

  #omfryden h4{
    display: none;
  }
  .overskrift-flex {
    margin-top: 5%;
    margin-left: 10%;
  }
  .overskrift-flex h1{
    display: none;
  }

  .overskrift-flex img{
    height: 400px;
  }

  .teksten-flex{
    margin-top: 5%;
    margin-right: 10%;
  }

  .teksten-flex h1{
    display: block;
    color: var(--red);
    padding-left: 12%;
    text-align: left;
  }

  /*********** indhold til produkt underside: ipad. ************/

  #slideshowmobil {
    display: none;
  }

  #produktsidecomputer {
    display: block;
  }

  #produktside {
    background-color: var(--yellow);
  }

  #produktside h1, #produktside h2 {
    color: var(--green);
  }

  #produktside p {
    margin-top: 2%;
  }

  #produkth1 {
    text-align: center;
    margin: 0;
  }

  .produktoverskrift {
    font-size: 20px;
    text-align: left;
    margin-left: 12%;
  }

  .produktbilleder img {
    max-width: 200px;
  }

  .produktbilleder {
    margin-top: 20px;
    margin-right: 30px;
  }


  .produktside {
    display: flex;
    margin-left: 10%;
  }




/*** Footer ipad ***/

/*** Footer ***/
footer{
  background-color: var(--aqua);
  color: var(--blue);
}

.footerp{
  line-height: 1.2;
  font-size: 15px;
  text-align: center;
}

.flex-container-footer{
display: flex;
flex-direction: row;
padding-left: 5%;
padding-right: 9%;
justify-content: space-between;
padding-bottom: 20px;
}

.flex-container-footer h2{
text-align: center;
padding-bottom: 15px;
font-size: 18px;

}

.flex-some {
padding: 0;
}

.flex-some img{
max-height: 60px;
margin-top: 20px;
margin-left: 0%;
}

.flex-some,.flex-kontakt, .flex-tider {
  padding-left: 5%;
}



/* copyright nederst på siden */
.bannerp{
font-size: 15px;
padding-top: 8px;
text-align: center;
  }

/* lokalcirkel, der drejer rundt */

#rundcirkel img {
  min-width: 350px;
}




}

/* Big screen (1200px and up) */
@media only screen and (min-width: 1200px) {

  body {
    background-color: var(--aqua);
  }

  section {
    padding-bottom: 6%;
  }

/* typografi */
  h1{
    font-family: var(--overskrift);
    font-weight: 700;
    text-align: center;
    padding-top: 10%;
    font-size: 50px;
    text-align: left;
    margin-left: 18%;
    margin-right: 18%;
  }

  h2{
    font-family: var(--overskrift);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 6%;
    text-align: left;
  }

  p{
    font-family: var(--brødtekst);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-left: 18%;
    margin-right:18%;
    margin-top: 2%;
    text-align: left;
  }

  .footerp{
    font-family: var(--brødtekst);
    font-weight: 400;
    text-align: center;
    margin-left: 12%;
    margin-right:12%;
    text-align: left;
  }

  /* Navigationsbar computer */
  /* Burgermenu skjules */
      .hamburger{
        display: none;
        }

    /*Navigationsbaren styles */
      header{
        background-color: var(--pink);
        }

      .nav-link1{
        color: var(--blue);
        text-decoration: none;
        }

      .nav-item1{
        list-style-type: none;
        display:inline-block;
        margin: 0 8% 0 8%;
        }

      .nav-logo img{
        width: 50px;
        }

        .nav-menu1{
          display: block;
          width: 100%;
          text-align: center;
          transition: 0.3s;
          font-family: var(--overskrift);
          font-size: 18px;
        }

        .navbar a:hover{
          opacity: 0.8;
          transition: .2s;
          color: var(--red);
        }



/* Forside. Banner 1: computer. Annica*/
  #topbillede {
    display: block;
    margin-left: 11.5%;
  }

  #topbillede img {
    min-height: 750px;

  }

  #forsidetop {
  display: flex;
  padding-bottom: 0%;
  }

  .forsidemenu {
    font-weight: lighter;
    padding: 10px;
    font-size: 30px;
    margin-left: 35%;
  }

  #forsidetop hr {
    max-width: 50%;
    margin-left: 35%;
  }

  #forsidetop h1 {
      text-align: center;
  }

  .topbilleder {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 10%;
    margin-left: 10%;
  }

  #logotilforsidetop {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30%;
  }

  #slangetop {
    display: block;
    position: relative;
    top: 20px;
    left: 10px;
    margin-bottom: 10%;
    width: 630px;
  }

  /* Forside. Banner 2: Om Fryden - Michella. Computer*/
  #intro {
  display: flex;
  flex-direction: row;
  }

  .column-1 {
  width: 50%;
  text-align: right;
  }

  .column-1 img{
  margin-top: 10%;
  height: 600px;
  }

  .column-1 h1{
  display: none;
  }

  .column-2 {
  width: 50%;
  }

  .column-2 h1{
  color: var(--aqua);
  display: block;
  }

  .column-2 p{
    margin-left: 12%;
  }

/* Forside. banner 3: Kaffe af god kvalitet - Michella. Computer */
#kaffe-kvalitet h1{
  display: none;
  margin-top: -5%;
}

#kaffe-kvalitet h4{
  color: var(--aqua);
  font-size: 450px;
  font-family: signo, sans-serif;
}

#tobilleder-flex {
  display: flex;
  flex-direction: row;
  margin-top: -27%;
}

#tobilleder-flex img{
  height: 400px;
}

#kaffebillede1 {
  padding-left: 20%;
}

#kaffebillede2 {
  padding-right: 20%;
}

#tekst-flex h1{
  display: block;
  text-align: center;
}

#tekst-flex p{
  text-align: center;
}

.to-billeder {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding: 5px;
}

/* Forside. Annica. Banner 4: to go kop: computer */

#togokopbanner {
  display: flex;
  padding-top: 8%;
  padding-bottom: 8%;
}

#togokopbanner h1{
  margin-left: 18%;
}

#togokopbanner video{
  min-width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

.togokopmobil {
  display: none;
}

.togokopcom {
  display: block;
  margin-right: 10%;
  padding-top: 15px;
}

.togokop {
  margin-left: 7%;
}


/* Banner 5: Instagram konkurrence */
#banner5 p {
  color: var(--pink);
  font-size: 20px;
}

#banner5 h2 {
  color: var(--aqua);
  font-size: 20px;
}

.banner5mobil img{
  display: none;
}

.kravinstagram{
  text-align: left;
  font-family: var(--brødtekst);
  font-size: 18px;
  color: var(--pink);
  margin-left: 20%;
  line-height: 1.8;
}

.banner5krav{
  margin-top: -8%;
  margin-bottom: -2%;
}

#banner5koptop{
  margin-top: -40%;
  margin-bottom: 10%;
  margin-left: 18%;
  line-height: 1.8;
}

.banner5laptop img{
  display: block;
  width: 100%;
  margin-top: -18%;
}


/* Forside. banner 7: nyeste posts - Annica. Computer */

.nyesteinsta {
  display: none;
}

.instacommi {
  display: flex;
  margin-left: 12.5%;
  margin-right: 16%;
  margin-top: 20px;
}

.instacommi img {
  min-width: 250px;
}



/* Underside. Om Fryden. Banner 1 styles: computer. */

#mødcecilie {
  display: none;
}

#mødceciliecomputer {
  display: flex;
}

#mødceciliecomputer h1 {
  font-family: var(--ballare);
  color: var(--red);
}

#mødceciliecomputer p {
  color: var(--blue);
}

#mødceciliecomputer img {
  min-height: 750px;
  margin: 0;
  margin-left: 12%;
}

/* Underside: Om Fryden. Banner 2 styles: computer */

#kortogtider {
  display: none;
}

#kortogtidercomputer {
  display: flex;
  background-color: var(--green);
  padding-left: 5%;
}

#kortogtidercomputer h1 {
  color: var(--aqua);
  margin-top: 5%;
}

#kortogtidercomputer p {
  color: var(--pink);
}

iframe {
  min-width: 600px;
  min-height: 600px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kortogtider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

/* underside om fryden. Banner 3:Lokalt. Computer. */
#omfryden {
background-color: var(--yellow);
display: flex;
flex-direction: row;
padding-left: 10%;
}


#omfryden h4{
  display: none;
}

.overskrift-flex {
  margin-top: 5%;
  margin-left: 10%;
}
.overskrift-flex h1{
  display: none;
}

.overskrift-flex img{
  height: 600px;
}

.teksten-flex{
  margin-top: 5%;
  margin-right: 10%;
}

.teksten-flex h1{
  display: block;
  color: var(--red);
  margin-left: 6%;
}


/*********** indhold til produkt underside: computer ************/

#slideshowmobil {
  display: none;
}

#produktsidecomputer {
  display: block;
}

#produktside {
  background-color: var(--yellow);
}

#produktside h1, #produktside h2 {
  color: var(--green);
}

#produkth1 {
  text-align: center;
  margin: 0;
}

.produktoverskrift {
  font-size: 25px;
  text-align: left;
  margin-left: 18%;
}


.produktbilleder img {
  max-width: 300px;
}

.produktbilleder {
  margin-top: 20px;
  margin-right: 30px;
}


.produktside {
  display: flex;
  margin-left: 18%;
}

/*********** indhold til kaffekort underside: computer ************/
/** Kærlighed for kaffe boks **/
.mobilkaerlighedforkaffe{
  display: none;
}

.webkaerlighedforkaffe{
  display: contents;
}

.webkaerlighedforkaffe img{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#kaerlighedforkaffe h1 {
  font-family:  var(--ballare);
  color: var(--red);
  font-size: 50px;
  text-align: center;
}

.webkaerlighedforkaffe p{
  color: var(--green);
  font-family: var(--brødtekst);
  text-align: center;
}

#fed{
  font-weight: bold;
  color: var(--red);
}

.webinfographicgul{
  display: flex;
}

.mobilinfographicgul{
  display: none;
}

.webinfographicgul img{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/** Gul boks **/
#kaffekortgul h1{
  color: var(--blue);
  margin-left: 15%;
  margin-bottom: 2%;
  font-size: 40px;
}


/** Grøn boks */
.mobilinfographicgron{
  display: none;
}

.webinfographicgron{
  display: flex;
}

.webinfographicgron img{
  width: 70%;
  margin: auto;
  padding-top: 2%;
}

/* Aqua boks */
#kaffekortaqua{
  display: none;
}

#webinfographicaqua{
  display: flex;
}

#webinfographicaqua h1{
  font-family: var(--ballare);
  color: var(--red);
}

#webinfographicaqua p{
  color: var(--blue);
}

#red{
  font-family: var(--brødtekst);
  color: var(--red);
}

#webinfographicaqua img{
  height: 750px;
  margin-top: 10%;
}

/* Gul boks Nostalgia*/
#kaffekortnostalgia{
  display: none;
}

#webmoodcoffee{
  display: flex;
  background-color: var(--yellow);
}

#webmoodcoffee img{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 12%;
}

#nostalgia h1{
  font-family: var(--ballare);
  color: var(--red);
  font-size: 50px;
  margin: auto;
}

#bold{
  font-weight: bold;
  color: var(--red);
  font-family: var(--brødtekst);
}

.kaffekortnostalgia a{
  color: var(--red);
  font-family: var(--brødtekst);
  margin-left: 18%;
  font-weight: bold;
}




  /* 404 side */
  #mobil404 {
    display: none;
  }

  #commi404 {
    display: block;
  }


  /*** Footer computer***/
  footer{
    background-color: var(--aqua);
    color: var(--blue);
  }

  .footerp{
    line-height: 1.2;
    font-size: 18px;
    text-align: center;
  }

  .flex-container-footer{
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 15%;
  justify-content: space-between;
  padding-bottom: 20px;
  }

  .flex-container-footer h2{
  text-align: center;
  padding-bottom: 15px;
  font-size: 22px;

  }

  .flex-some {
  padding: 0;
  }

  .flex-some img{
  min-height: 70px;
  margin-top: 20px;
  margin-left: 0%;
  }

  .flex-tider {
    margin-left: 5%;
    margin-right: 5%;
  }


  /* copyright nederst på siden */
  .bannerp{
  font-size: 15px;
  padding-top: 8px;
  text-align: center;
    }

  /* lokalcirkel, der drejer rundt */

  #rundcirkel img {
    min-width: 350px;
  }
}
